/**
scroll
 */
::-webkit-scrollbar {
  width: 10px !important;
  cursor: pointer !important;
}

::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
  cursor: pointer !important;
}

::-webkit-scrollbar-thumb {
  background: #888 !important;
  cursor: pointer !important;
}

::-webkit-scrollbar-thumb:hover {
  background: #555 !important;
  cursor: pointer !important;

}


/**
colors
 */

$thinkPrimary: #FF026C;
$thinkPrimaryBlue: #1E90FF;
$thinkBorder: #BDBDBD;
$thinkContent: #828282;
$thinkWarning: #ff1212;
$thinkInfo: #FAB170;
$thinkSuccess: #72fd37;

.tu--primary {
  color: $thinkPrimary;
}

.tu--primary-blue {
  color: $thinkPrimaryBlue;
}

.tu--border {
  color: $thinkBorder;
}

.tu--warn {
  color: $thinkWarning;
}

.tu--info {
  color: $thinkInfo;
}

.tu--success {
  color: $thinkSuccess;
}


.tu-bg-primary {
  color: $thinkPrimary;
}

.tu-bg-primary-blue {
  color: $thinkPrimaryBlue;
}

.tu-bg-border {
  color: $thinkBorder;
}

.tu-bg-warn {
  color: $thinkWarning;
}

.tu-bg-info {
  color: $thinkInfo;
}

.tu-bg-success {
  color: $thinkSuccess;
}

/**
container and layout
 */
.tu-w {
  width: 0;
}

.tu-w-5 {
  width: 5%;
}

.tu-w-10 {
  width: 10%;
}

.tu-w-15 {
  width: 15%;
}

.tu-w-20 {
  width: 20%;
}

.tu-w-25 {
  width: 25%;
}

.tu-w-30 {
  width: 30%;
}

.tu-w-35 {
  width: 35%;
}

.tu-w-40 {
  width: 40%;
}

.tu-w-45 {
  width: 45%;
}

.tu-w-50 {
  width: 50%;
}

.tu-w-55 {
  width: 55%;
}

.tu-w-60 {
  width: 60%;
}

.tu-w-65 {
  width: 65%;
}

.tu-w-70 {
  width: 70%;
}

.tu-w-75 {
  width: 75%;
}

.tu-w-80 {
  width: 80%;
}

.tu-w-85 {
  width: 85%;
}

.tu-w-90 {
  width: 90%;
}

.tu-w-95 {
  width: 95%;
}

.tu-w-100 {
  width: 100%;
}

.tu-full-width {
  width: 100%;
  max-width: 100%;
}

.tu-fz {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
}

.tu-fh {
  height: 100%;
}

.tu-d-flex {
  display: flex;
}

.tu-d-m-flex {
  @media (max-width: 700px) {
    display: flex;
  }
}

tu-d-m-block {
  @media (max-width: 700px) {
    display: block;
  }
}

.tu-d-block {
  display: block;
}

.tu-d-iflex {
  display: inline-flex;
}

.tu-d-inline {
  display: inline;
}

.tu-d-iblock {
  display: inline-block;
}

.tu-d-igrid {
  display: inline-grid;
}

.tu-d-grid {
  display: grid;
}

.tu-d-none {
  display: none;
}

.tu-d-m-none {
  @media (max-width: 700px) {
    display: none;
  }
}

.tu-d-d-none {
  @media (min-width: 700px) {
    display: none;
  }
}

.tu-jc-s {
  justify-content: flex-end;
}

.tu-jc-c {
  justify-content: center;
}

.tu-jc-e {
  justify-content: flex-end;
}

.tu-jc-sb {
  justify-content: space-between;
}

.tu-jc-sa {
  justify-content: space-around;
}

.tu-ai-s {
  align-items: flex-start;
}

.tu-ai-c {
  align-items: center;
}

.tu-ai-e {
  align-items: flex-end;
}

.tu-direction-row {
  flex-direction: row;
}

.tu-direction-col {
  flex-direction: column;
}

.tu-direction-m-row {
  @media (max-width: 700px) {
    flex-direction: row;
  }
}

.tu-direction-m-col {
  @media (max-width: 700px) {
    flex-direction: column;
  }
}

.tu-sticky-t {
  position: sticky;
  top: 0;
}

.tu-sticky-b {
  position: sticky;
  bottom: 0;
}

.tu-fixed-t {
  position: fixed;
  top: 0;
}

.tu-fixed-b {
  position: fixed;
  bottom: 0;
}

.tu-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 576px) {
    .tu-container {
      max-width: 540px;
    }
  }

  @media (min-width: 768px) {
    .tu-container {
      max-width: 720px;
    }
  }

  @media (min-width: 992px) {
    .tu-container {
      max-width: 900px;
    }
  }

  @media (min-width: 1200px) {
    .tu-container {
      max-width: 1300px;
    }
  }

  @media (min-width: 1500px) {
    .tu-container {
      max-width: 1500px;
    }
  }
}

/**
OFFSETS
 */

@mixin OffsetTop($param,$type) {
  @if $type == 'm' {
    margin-top: $param;
  } @else {
    padding-top: $param;
  }
}

@mixin OffsetBottom($param,$type) {
  @if $type ==  'm' {
    margin-bottom: $param;
  } @else {
    padding-bottom: $param;
  }
}

@mixin OffsetLeft($param,$type) {
  @if $type ==  'm' {
    margin-left: $param;
  } @else {
    padding-left: $param;
  }
}

@mixin OffsetRight($param,$type) {
  @if $type ==  'm' {
    margin-right: $param;
  } @else {
    padding-right: $param;
  }
}

/**
MARGINESY
 */

//TOP
.tu-mt-4 {
  @include OffsetTop(4px, 'm');
}

.tu-mt-6 {
  @include OffsetTop(6px, 'm');
}

.tu-mt-8 {
  @include OffsetTop(8px, 'm');
}

.tu-mt-10 {
  @include OffsetTop(10px, 'm');
}

.tu-mt-12 {
  @include OffsetTop(12px, 'm');
}

.tu-mt-14 {
  @include OffsetTop(14px, 'm');
}

.tu-mt-16 {
  @include OffsetTop(16px, 'm');
}

.tu-mt-18 {
  @include OffsetTop(18px, 'm');
}

.tu-mt-20 {
  @include OffsetTop(20px, 'm');
}

.tu-mt-22 {
  @include OffsetTop(22px, 'm');
}

.tu-mt-24 {
  @include OffsetTop(24px, 'm');
}

.tu-mt-26 {
  @include OffsetTop(26px, 'm');
}

.tu-mt-28 {
  @include OffsetTop(28px, 'm');
}

.tu-mt-30 {
  @include OffsetTop(30px, 'm');
}

//LEFT
.tu-ml-4 {
  @include OffsetLeft(4px, 'm');
}

.tu-ml-6 {
  @include OffsetLeft(6px, 'm');
}

.tu-ml-8 {
  @include OffsetLeft(8px, 'm');
}

.tu-ml-10 {
  @include OffsetLeft(10px, 'm');
}

.tu-ml-12 {
  @include OffsetLeft(12px, 'm');
}

.tu-ml-14 {
  @include OffsetLeft(14px, 'm');
}

.tu-ml-16 {
  @include OffsetLeft(16px, 'm');
}

.tu-ml-18 {
  @include OffsetLeft(18px, 'm');
}

.tu-ml-20 {
  @include OffsetLeft(20px, 'm');
}

.tu-ml-22 {
  @include OffsetLeft(22px, 'm');
}

.tu-ml-24 {
  @include OffsetLeft(24px, 'm');
}

.tu-ml-26 {
  @include OffsetLeft(26px, 'm');
}

.tu-ml-28 {
  @include OffsetLeft(28px, 'm');
}

.tu-ml-30 {
  @include OffsetLeft(30px, 'm');
}

//BOTTOM

.tu-mb-4 {
  @include OffsetBottom(4px, 'm');
}

.tu-mb-6 {
  @include OffsetBottom(6px, 'm');
}

.tu-mb-8 {
  @include OffsetBottom(8px, 'm');
}

.tu-mb-10 {
  @include OffsetBottom(10px, 'm');
}

.tu-mb-12 {
  @include OffsetBottom(12px, 'm');
}

.tu-mb-14 {
  @include OffsetBottom(14px, 'm');
}

.tu-mb-16 {
  @include OffsetBottom(16px, 'm');
}

.tu-mb-18 {
  @include OffsetBottom(18px, 'm');
}

.tu-mb-20 {
  @include OffsetBottom(20px, 'm');
}

.tu-mb-22 {
  @include OffsetBottom(22px, 'm');
}

.tu-mb-24 {
  @include OffsetBottom(24px, 'm');
}

.tu-mb-26 {
  @include OffsetBottom(26px, 'm');
}

.tu-mb-28 {
  @include OffsetBottom(28px, 'm');
}

.tu-mb-30 {
  @include OffsetBottom(30px, 'm');
}

//LEFT

.tu-mr-4 {
  @include OffsetRight(4px, 'm');
}

.tu-mr-6 {
  @include OffsetRight(6px, 'm');
}

.tu-mr-8 {
  @include OffsetRight(8px, 'm');
}

.tu-mr-10 {
  @include OffsetRight(10px, 'm');
}

.tu-mr-12 {
  @include OffsetRight(12px, 'm');
}

.tu-mr-14 {
  @include OffsetRight(14px, 'm');
}

.tu-mr-16 {
  @include OffsetRight(16px, 'm');
}

.tu-mr-18 {
  @include OffsetRight(18px, 'm');
}

.tu-mr-20 {
  @include OffsetRight(20px, 'm');
}

.tu-mr-22 {
  @include OffsetRight(22px, 'm');
}

.tu-mr-24 {
  @include OffsetRight(24px, 'm');
}

.tu-mr-26 {
  @include OffsetRight(26px, 'm');
}

.tu-mr-28 {
  @include OffsetRight(28px, 'm');
}

.tu-mr-30 {
  @include OffsetRight(30px, 'm');
}

//PADDINGI


//TOP
.tu-pt-4 {
  @include OffsetTop(4px, 'p');
}

.tu-pt-6 {
  @include OffsetTop(6px, 'p');
}

.tu-pt-8 {
  @include OffsetTop(8px, 'p');
}

.tu-pt-10 {
  @include OffsetTop(10px, 'p');
}

.tu-pt-12 {
  @include OffsetTop(12px, 'p');
}

.tu-pt-14 {
  @include OffsetTop(14px, 'p');
}

.tu-pt-16 {
  @include OffsetTop(16px, 'p');
}

.tu-pt-18 {
  @include OffsetTop(18px, 'p');
}

.tu-pt-20 {
  @include OffsetTop(20px, 'p');
}

.tu-pt-22 {
  @include OffsetTop(22px, 'p');
}

.tu-pt-24 {
  @include OffsetTop(24px, 'p');
}

.tu-pt-26 {
  @include OffsetTop(26px, 'p');
}

.tu-pt-28 {
  @include OffsetTop(28px, 'p');
}

.tu-pt-30 {
  @include OffsetTop(30px, 'p');
}

//LEFT
.tu-pl-4 {
  @include OffsetLeft(4px, 'p');
}

.tu-pl-6 {
  @include OffsetLeft(6px, 'p');
}

.tu-pl-8 {
  @include OffsetLeft(8px, 'p');
}

.tu-pl-10 {
  @include OffsetLeft(10px, 'p');
}

.tu-pl-12 {
  @include OffsetLeft(12px, 'p');
}

.tu-pl-14 {
  @include OffsetLeft(14px, 'p');
}

.tu-pl-16 {
  @include OffsetLeft(16px, 'p');
}

.tu-pl-18 {
  @include OffsetLeft(18px, 'p');
}

.tu-pl-20 {
  @include OffsetLeft(20px, 'p');
}

.tu-pl-22 {
  @include OffsetLeft(22px, 'p');
}

.tu-pl-24 {
  @include OffsetLeft(24px, 'p');
}

.tu-pl-26 {
  @include OffsetLeft(26px, 'p');
}

.tu-pl-28 {
  @include OffsetLeft(28px, 'p');
}

.tu-pl-30 {
  @include OffsetLeft(30px, 'p');
}

//BOTTOM
.tu-pb-0-i {
  padding-bottom: 0 !important;
}

.tu-pb-4 {
  @include OffsetBottom(4px, 'p');
}

.tu-pb-6 {
  @include OffsetBottom(6px, 'p');
}

.tu-pb-8 {
  @include OffsetBottom(8px, 'p');
}

.tu-pb-10 {
  @include OffsetBottom(10px, 'p');
}

.tu-pb-12 {
  @include OffsetBottom(12px, 'p');
}

.tu-pb-14 {
  @include OffsetBottom(14px, 'p');
}

.tu-pb-16 {
  @include OffsetBottom(16px, 'p');
}

.tu-pb-18 {
  @include OffsetBottom(18px, 'p');
}

.tu-pb-20 {
  @include OffsetBottom(20px, 'p');
}

.tu-pb-22 {
  @include OffsetBottom(22px, 'p');
}

.tu-pb-24 {
  @include OffsetBottom(24px, 'p');
}

.tu-pb-26 {
  @include OffsetBottom(26px, 'p');
}

.tu-pb-28 {
  @include OffsetBottom(28px, 'p');
}

.tu-pb-30 {
  @include OffsetBottom(30px, 'p');
}

//LEFT

.tu-pr-4 {
  @include OffsetRight(4px, 'p');
}

.tu-pr-6 {
  @include OffsetRight(6px, 'p');
}

.tu-pr-8 {
  @include OffsetRight(8px, 'p');
}

.tu-pr-10 {
  @include OffsetRight(10px, 'p');
}

.tu-pr-12 {
  @include OffsetRight(12px, 'p');
}

.tu-pr-14 {
  @include OffsetRight(14px, 'p');
}

.tu-pr-16 {
  @include OffsetRight(16px, 'p');
}

.tu-pr-18 {
  @include OffsetRight(18px, 'p');
}

.tu-pr-20 {
  @include OffsetRight(20px, 'p');
}

.tu-pr-22 {
  @include OffsetRight(22px, 'p');
}

.tu-pr-24 {
  @include OffsetRight(24px, 'p');
}

.tu-pr-26 {
  @include OffsetRight(26px, 'p');
}

.tu-pr-28 {
  @include OffsetRight(28px, 'p');
}

.tu-pr-30 {
  @include OffsetRight(30px, 'p');
}

.tu-btn {
  min-width: 80px;
  padding: 10px 20px;
  border-radius: 3px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  opacity: 0.7;
  transition: 0.3s;

  &:hover {
    opacity: 1;
    transition: 0.3s;
  }

  :disabled {
    background: gray;
  }
}

.tu-btn-outline {
  min-width: 80px;
  padding: 10px 20px;
  border-radius: 3px;
  border: none;
  background: white;
  font-size: 16px;
  font-weight: 500;
  opacity: 0.7;
  transition: 0.3s;

  &:hover {
    opacity: 1;
    transition: 0.3s;
  }

  :disabled {
    background: gray;
  }
}


.tu-btn-primary {
  @extend .tu-btn;
  background: $thinkPrimary;
}

.tu-btn-primary-blue {
  @extend .tu-btn;
  background: $thinkPrimaryBlue;
}

.tu-btn-border {
  @extend .tu-btn;
  background: $thinkBorder;
}

.tu-btn-warn {
  @extend .tu-btn;
  background: $thinkWarning;
}

.tu-btn-info {
  @extend .tu-btn;
  background: $thinkInfo;
}

.tu-btn-success {
  @extend .tu-btn;
  background: $thinkSuccess;
}




.tu-btn-o-primary {
  @extend .tu-btn-outline;
  color: $thinkPrimary;
  border:1px solid $thinkPrimary;
}

.tu-btn-o-primary-blue {
  @extend .tu-btn-outline;
  color: $thinkPrimaryBlue;
  border:1px solid $thinkPrimaryBlue;
}

.tu-btn-o-border {
  @extend .tu-btn-outline;
  color: $thinkBorder;
  border:1px solid $thinkBorder;
}

.tu-btn-o-warn {
  @extend .tu-btn-outline;
  color: $thinkWarning;
  border:1px solid $thinkWarning;
}

.tu-btn-o-info {
  @extend .tu-btn-outline;
  color: $thinkInfo;
  border:1px solid $thinkInfo;
}

.tu-btn-o-success {
  @extend .tu-btn-outline;

  color: $thinkSuccess;
  border:1px solid $thinkSuccess;
}

.tu-text-10{
  font-size: 10px;
}
.tu-text-12{
  font-size: 12px;
}
.tu-text-14{
  font-size: 14px;
}
.tu-text-15{
  font-size: 15px;
}
.tu-text-16{
  font-size: 16px;
}
.tu-text-18{
  font-size: 18px;
}
.tu-text-20{
  font-size: 20px;
}

.tu-fw-300{
  font-weight: 300;
}
.tu-fw-400{
  font-weight: 400;
}
.tu-fw-500{
  font-weight: 500;
}
.tu-fw-600{
  font-weight: 600;
}
.tu-fw-700{
  font-weight: 700;
}
.tu-fw-800{
  font-weight: 800;
}